div.output{
    border: inset 1px #000000;
    height: 90%;
    overflow-x: auto;
}
div.output2{
    position: absolute;
    top: 10%;
    max-height: 90%;
    width: 95%;
    color:white;
    overflow-x: auto;
    background-color: rgba(31, 34, 194, 0.7);

}
a.tab-button{
    display: inline-block;
    max-width: 180px;
    text-align: left;
    background-color: #9ec34b;
    font-size: 16px;
    color: #84a01f;
    text-decoration: none;
    font-weight: bold;
    padding: 4px 12px;
    border-radius: 2px;
    border-bottom: 4px solid #84a01f;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.7);　/* ボタンの色が明るめの場合は0.7の数字を大きく、暗めの場合は少なくするとリアルに */
}

a.tab-button:active{
    transform: translateY(4px);
    border-bottom: none;

}